# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': ['Canada', 'China', 'France', 'Taiwan', 'USA'],
        '人口': np.random.randint(1,30000000,size= 5)}
data = pd.DataFrame(data)

In [3]:
data

       國家        人口
0  Canada    205794
1   China  10901454
2  France    534033
3  Taiwan  16854616
4     USA   7190896

In [4]:
data.loc[data['人口'].idxmax()]

國家      Taiwan
人口    16854616
Name: 3, dtype: object

In [5]:
# 方法二
country = ['Canada', 'China', 'France', 'Taiwan', 'USA']
Population = np.random.randint(1,30000000,size= 5)

In [8]:
Population

array([17575759,  4384609, 28610741, 17571060, 24165806])

In [9]:
list_labels = ['country', 'Population']
list_cols = [country, Population]
zipped = list(zip(list_labels, list_cols))

In [13]:
data2 = pd.DataFrame(dict(zipped))
data2

  country  Population
0  Canada    17575759
1   China     4384609
2  France    28610741
3  Taiwan    17571060
4     USA    24165806

In [15]:
data2.loc[data2['Population'].idxmax()]

country         France
Population    28610741
Name: 2, dtype: object